<mat-toolbar color="primary" class="header-toolbar">

  <span class="app-title">
    <mat-icon>lock</mat-icon>
    Auth App
  </span>

  <span class="spacer"></span>

  <div class="user-info">
    <mat-icon>schedule</mat-icon>
    <span>{{ userContext.nowSignal() | date:'HH:mm:ss' }}</span>

    <mat-icon class="ml">person</mat-icon>
    <span>{{ user()?.username }}</span>

    <mat-icon class="ml">badge</mat-icon>
    <span>{{ user()?.role }}</span>

    <mat-icon class="ml">token</mat-icon>
    <span matTooltip="Tiempo restante del token" 
        [class.safe]="!userContext.inThreasholdSignal()"
        [class.warning]="userContext.inThreasholdSignal()">
      Theshold
    </span>

    <mat-icon class="ml">refresh</mat-icon>
    <span matTooltip="is pending refresh" 
        [class.safe]="!userContext.isPendingRefreshSignal()"
        [class.warning]="userContext.isPendingRefreshSignal()">
       {{ userContext.isPendingRefreshSignal() ? '' : 'No ' }}Pending refresh
    </span>

    <mat-icon>schedule</mat-icon>
    <span>
      Expira: {{ user()?.expiresAt | date:'HH:mm:ss' }}
    </span>

  </div>
  <button mat-icon-button
          matTooltip="Cerrar sesión"
          (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>